html {
  font-family: "Poppins", sans-serif;
  background-color: gray;
}

.container {
  width: 70vw;
  height: 100vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  padding: 2rem;
}
.listado-canciones {
  width: 100%;
}

.cancion {
  padding: 1rem 2 rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.titulo {
  flex: 6;
}

.play,
.stop,
.descargar {
  flex: 1;
  color: pink;
}
